<div class="container-fluid">
  <div class="covid-stat mt-2">
    <div class="covid-stat-data">
      <h6>India Cases : <span> {{data.confirmedCasesIndian}}</span></h6>
    </div>
    <div class="covid-stat-data">
      <h6>Foreign Cases : <span>{{data.confirmedCasesForeign}}</span></h6>
    </div>
    <div class="covid-stat-data">
      <h6>Total: <span>{{data.total}}</span></h6>
    </div>
    <div class="covid-stat-data">
      <h6>Discharged: <span>{{data.discharged}}</span></h6>
    </div>
    <div class="covid-stat-data">
      <h6>Recovered: <span>99912</span></h6>
    </div>
    <div class="covid-stat-data">
      <h6>Deaths: <span>{{data.deaths}}</span></h6>
    </div>
  </div>
</div>
