<div class="container-fluid">
    <div class="left">
      <input type="text" placeholder="Search COVID-19 Data" (input)="onSearch($event)" ><i class="fa fa-search"></i>
    </div>
    <div class="right mt-3">
      <div class="profile">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
          alt="Profile Picture">
        <div class="name">
          <h6>Michael Clarke</h6>
          <pre>Health Advisor</pre>
        </div>
        <i class="fa fa-sign-out mt-2"></i>
      </div>
    </div>
  </div>
  
  