*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    width: 15rem;
    position: fixed;
}

.top-content {
    padding: 1rem;
    background-color: white;
    height: 6.5rem;
}

.top-content button {
    width: 70%;
    font-weight: bold;
    color:rgb(88,84,172);
    padding: .8rem;
    border: 2px solid rgb(192, 185, 185);
    border-radius: 30px;
    background-color: white;
    font-size: 12px;
}

nav {
    background-color: white;
    color: #5f625f;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

nav li {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: .7rem;
}

nav i {
    margin-right: 0.3rem;
}

nav a {
    text-decoration: none;
    flex-grow: 1;
    font-size: .8rem;
    padding: 0.3rem .6rem;
    color: #848884;
}

li:first-child{
    background-color: #f0f0f0;
    width: 100%;
    color:rgb(88,84,172) !important;
}

nav li:first-child a {
    color: rgb(88, 84, 172) !important; 
    font-weight: bold;
}

.disabled {
    pointer-events: none;
    color: gray; 
    opacity: 0.6; 
  }