<div class="container-fluid">
    <div class="top-content">
      <button>COVID-19 Dashboard</button>
    </div>
    <div class="sidenav">
      <nav>
        <ul>
          <li>
            <i class="fa fa-dashboard"></i>
            <a href="">Overview</a>
          </li>
          <li>
            <i class="fa fa-dashboard"></i>
            <a href="" class="disabled">Case Statistics</a>
          </li>
          <li>
            <i class="fa fa-dashboard"></i>
            <a href="" class="disabled">Vaccination Progress</a>
          </li>
          <li>
            <i class="fa fa-dashboard"></i>
            <a href="" class="disabled">Testing Information</a>
          </li>
          <li>
            <i class="fa fa-dashboard"></i>
            <a href="" class="disabled">Health Guidelines</a>
          </li>
          <li>
            <i class="fa fa-dashboard"></i>
            <a href="" class="disabled">Travel Restrictions</a>
          </li>
          <li>
            <i class="fa fa-dashboard"></i>
            <a href="" class="disabled">Appointment Scheduler</a>
          </li>
          <li>
            <i class="fa fa-dashboard"></i>
            <a href="" class="disabled">News Updates</a>
          </li>
          <li>
            <i class="fa fa-dashboard"></i>
            <a href="" class="disabled">Community Support</a>
          </li>
          <li>
            <i class="fa fa-dashboard"></i>
            <a href="" class="disabled">Feedback & Reviews</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  